header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img_viagens{
    width: 90px;
    height: 90px;
}
.menuHeader{
    width: 40%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lupa{

    width: 25px;
    height: 25px;

}